<!doctype html>
<html>
  <head>
    <title>OMDB API Example</title>
  </head>
  <body>
  	<h1>Search for a movie</h1>
  	<form action="/search">
  		<input type="text" name="searchTerm" placeholder="enter search">
  		<input type="submit">
  	</form>
  </body>
</html>
